<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Users 
    <span class="float-right">
        <a routerLink="/" class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm mr-1">
            <i class="fa fa-arrow-left text-white-50"></i> Back
        </a>
        <a routerLink="/users/add" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm mr-1">
            <i class="fa fa-user-edit text-white-50"></i> Add New User
        </a>
        <a [swal]="deleteSwal" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm" href="javascript:;" target="_self">
            <i class="fa fa-trash text-white-50"></i> Delete Selected
        </a>
        <swal
        #deleteSwal
        type= "warning"
        confirmButtonText= "Yes, delete it!"
        title="Are you sure?"
        text="You won't be able to revert this!"
        [showCancelButton]="true"
        [focusCancel]="true"
        (confirm)="deleteRecords()">
        </swal>
    </span></h1>
  
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold ">Advanced Search </h6>
    </div>
    <div class="card-body">
      <div class="row">
       <div class="col-md-3 col-sm-4 col-xs-6">
         <label for="id">ID</label>
         <div class="input-group mb-3">
          <div class="input-group-prepend">
            <select #{{asearch.oid}} [(ngModel)]="asearch.oid" class="form-control prepend_sel">
              <option value="=">=</option>
              <option value="<">&lt;</option>
              <option value=">">&gt;</option>
              <option value="<=">&lt;=</option>
              <option value=">=">&gt;=</option>
              <option value="!=">!=</option>
              <option value="LIKE">LIKE</option>
              <option value="LIKE %%">LIKE %%</option>
              <option value="IN">IN</option>
              <option value="FIND_IN_SET">FIND_IN_SET</option>
              <option value="IS NULL">IS NULL</option>
              <option value="NOT LIKE">NOT LIKE</option>
              <option value="NOT IN">NOT IN</option>
              <option value="IS NOT NULL">IS NOT NULL</option>
            </select>
          </div>
          <input type="text" #{{asearch.id}} [(ngModel)]="asearch.id" class="form-control" aria-label="Text input with dropdown button">
        </div>
       </div>
       <div class="col-md-3 col-sm-4 col-xs-6">
         <label for="id">Name</label>
          <div class="input-group mb-3">
          <div class="input-group-prepend">
            <select #{{asearch.oname}} [(ngModel)]="asearch.oname" class="form-control prepend_sel">
              <option value="=">=</option>
              <option value="!=">!=</option>
              <option value="LIKE">LIKE</option>
              <option value="LIKE %%">LIKE %%</option>
              <option value="IN">IN</option>
              <option value="FIND_IN_SET">FIND_IN_SET</option>
              <option value="IS NULL">IS NULL</option>
              <option value="NOT LIKE">NOT LIKE</option>
              <option value="NOT IN">NOT IN</option>
              <option value="IS NOT NULL">IS NOT NULL</option>
            </select>
          </div>
          <input type="text" #{{asearch.name}} [(ngModel)]="asearch.name" class="form-control" aria-label="Text input with dropdown button">
        </div>
       </div>
       <div class="col-md-3 col-sm-4 col-xs-6"></div>
       <div class="col-md-3 col-sm-4 col-xs-6"></div>
      </div>
    </div>
  </div>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold ">All Users </h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead *ngIf="usersFound">
            <tr>
              <th><input type="checkbox" [(ngModel)]="allSelected" (change)="checkAll($event)"></th>
              <th [ngClass]="{'sorting sorting_asc': orderBy=='users.id' && order == 'ASC', 'sorting sorting_desc': orderBy=='users.id' && order == 'DESC', 'sorting': orderBy!='users.id' }" (click)="sortData('users.id')">ID</th>
              <th [ngClass]="{'sorting sorting_asc': orderBy=='users.name' && order == 'ASC', 'sorting sorting_desc': orderBy=='users.name' && order == 'DESC', 'sorting': orderBy!='users.name' }" (click)="sortData('users.name')">Name</th>
              <th [ngClass]="{'sorting sorting_asc': orderBy=='users.email' && order == 'ASC', 'sorting sorting_desc': orderBy=='users.email' && order == 'DESC', 'sorting': orderBy!='users.email' }" (click)="sortData('users.email')">Email</th>
              <th [ngClass]="{'sorting sorting_asc': orderBy=='users.status' && order == 'ASC', 'sorting sorting_desc': orderBy=='users.status' && order == 'DESC', 'sorting': orderBy!='users.status' }" (click)="sortData('users.status')">Status</th>
              <th [ngClass]="{'sorting sorting_asc': orderBy=='users.created_at' && order == 'ASC', 'sorting sorting_desc': orderBy=='users.created_at' && order == 'DESC', 'sorting': orderBy!='users.created_at' }" (click)="sortData('users.created_at')">Added On</th>
              <th>#</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th><input type="checkbox" [(ngModel)]="allSelected" (change)="checkAll($event)"></th>
              <th>ID</th>
              <th>Name</th>
              <th>Email</th>
              <th>Status</th>
              <th>Added On</th>
              <th>#</th>
            </tr>
          </tfoot>
          <tbody>
            <tr *ngIf="usersFound" class="filterOptions">
              <td></td>
              <td><input style="width:70px" type="text" class="form-control " placeholder="ID" #{{search.id}} [(ngModel)]="search.id" (change)="setFilterParam('id', search.id)"></td>
              <td><input type="text" class="form-control" placeholder="Name" #{{search.name}} [(ngModel)]="search.name" (change)="setFilterParam('name', search.name)"></td>
              <td><input type="text" class="form-control" placeholder="Email" #{{search.email}} [(ngModel)]="search.email" (change)="setFilterParam('email', search.email)"></td>
              <td><select class="form-control" placeholder="Status" #{{search.status}} [(ngModel)]="search.status" (change)="setFilterParam('status', search.status)">
                <option value="">-- Select --</option>
                <option value="0">Draft</option>
                <option value="1">Active</option>
                <option value="2">Inactive</option>
                <option value="3">Blocked</option>
              </select></td>
              <td><input type="text" class="form-control" placeholder="Added On" #{{search.created_at}} [(ngModel)]="search.created_at" (change)="setFilterParam('created_at', search.created_at)"></td>
              <td>
                <button class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm mr-1">
                  <i class="fa fa-search text-white-50" (click)="filterData()"></i>
                </button>
                
                <button class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm">
                  <i class="fa fa-sync text-white-50" (click)="resetData()"></i>
                </button>

              </td>
            </tr>
            <tr *ngFor="let user of users | paginate: { id: 'serverPagination', itemsPerPage: pageSize, currentPage: p, totalItems: total }">
              <td>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" #{{user.id}} [(ngModel)]="user.selected" (change)="collectAllSelected(user.id, $event)">
                </div>
              </td>
              <td>{{user.id}}</td>
              <td>{{user.first_name}} {{user.last_name}}</td>
              <td>{{user.email}}</td>
              <td>
                <span class="badge badge-pill badge-secondary" *ngIf="user.status==0">{{ user.statusTxt }}</span>
                <span class="badge badge-pill badge-success" *ngIf="user.status==1">{{ user.statusTxt }}</span>
                <span class="badge badge-pill badge-warning" *ngIf="user.status==2">{{ user.statusTxt }}</span>
                <span class="badge badge-pill badge-danger" *ngIf="user.status==3">{{ user.statusTxt }}</span>
              </td>
              <td>{{user.created_at |  date: 'MMM dd, yyyy, hh:mm a'}}</td>
              <td>
                <a routerLink="/users/edit/{{ user.id }}" class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm mr-1">
                    <i class="fa fa-user-edit text-white-50"></i>
                </a>
                <a routerLink="/users/{{ user.id }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-1">
                    <i class="fa fa-eye text-white-50"></i>
                </a>
                <swal
                #deleteSwal
                confirmButtonText= "Yes, delete it!"
                title="Are you sure to delete #{{ user.id }}?"
                text="This cannot be undone"
                [showCancelButton]="true"
                [focusCancel]="true"
                (confirm)="deleteRecord(user.id)">
              </swal>
              <button [swal]="deleteSwal" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm">
                <i class="fa fa-trash text-white-50"></i></button>
              </td>
            </tr>
            <tr *ngIf="users.length == 0">
              <td colspan="7">No record found!</td>
            </tr>
          </tbody>
        </table>
        
        <div [ngClass]="{ 'hidden': !loading }" style="display: none;">
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="10"
              aria-valuemin="0" aria-valuemax="100" style="width:10%"></div>
          </div>
        </div>
        <br/>
        
        <pagination-controls id="serverPagination"
              (pageChange)="getPage($event)"
              maxSize="10"
              directionLinks="true"
              autoHide="true"
              responsive="true"
              previousLabel="Previous"
              nextLabel="Next"
              screenReaderPaginationLabel="Pagination"
              screenReaderPageLabel="page"
              screenReaderCurrentLabel="You're on page"></pagination-controls>
      </div>
    </div>
  </div>
</div>