 <div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Update Password</h1>
      <a routerLink="/account/profile" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
          <i class="fa fa-user-edit text-white-50"></i> Update Profile
      </a>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold ">Details </h6>
        </div>
        <div class="card-body">
           <form novalidate class="user" method="post" [formGroup]="ngForm" (ngSubmit)="update()">
            <div style="position: absolute;left:-999px;">
                <input type="email">
                <input type="password">
            </div>
            
            <div class="form-group row">
                <label for="oldPassword" class="col-lg-3 col-md-4 col-sm-6 col-form-label">Old Password</label>
                <div class="col-lg-9 col-md-8 col-sm-6">
                    <div class="input-group">
                        <input type="password" class="form-control" placeholder="Enter Old Password" formControlName="oldPassword" #oldPassword [type]="hideOld ? 'password' : 'text'">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" tabindex="-1" type="button" (click)="hideOld = !hideOld" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideOld">
                                <i class="fa fa-eye{{hideOld ? '-slash' : ''}}"></i>
                            </button>
                        </div>
                    </div>
                    <div class="invalid-feedback" *ngIf="ngForm.controls['oldPassword'].invalid && (ngForm.controls['oldPassword'].dirty || ngForm.controls['oldPassword'].touched)">
                        <span *ngIf="ngForm.controls['oldPassword'].errors.required">
                            Old Password is required.
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="password" class="col-lg-3 col-md-4 col-sm-6 col-form-label">Password</label>
                <div class="col-lg-9 col-md-8 col-sm-6">
                    <div class="input-group">
                        <input type="password" class="form-control" placeholder="Enter Password" formControlName="password" #password [type]="hide ? 'password' : 'text'">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" tabindex="-1" type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <i class="fa fa-eye{{hide ? '-slash' : ''}}"></i>
                            </button>
                        </div>
                    </div>
                    <div class="invalid-feedback" *ngIf="ngForm.controls['password'].invalid && (ngForm.controls['password'].dirty || ngForm.controls['password'].touched)">
                        <span *ngIf="ngForm.controls['password'].errors.required">
                            Password is required.
                        </span>
                    </div>
                </div>
            </div>
        
            <div class="form-group row">
                <label for="confirmPassword" class="col-lg-3 col-md-4 col-sm-6 col-form-label">Confirm Password</label>
                <div class="col-lg-9 col-md-8 col-sm-6">
                <div class="input-group">
                        <input type="password" class="form-control" placeholder="Enter Confirm Password" formControlName="confirmPassword" #confirmPassword [type]="hideCon ? 'password' : 'text'">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" tabindex="-1" type="button" (click)="hideCon = !hideCon" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideCon">
                                <i class="fa fa-eye{{hideCon ? '-slash' : ''}}"></i>
                            </button>
                        </div>
                    </div>
                    <div class="invalid-feedback" *ngIf="ngForm.controls['confirmPassword'].invalid && (ngForm.controls['confirmPassword'].dirty || ngForm.controls['confirmPassword'].touched)">
                        <span *ngIf="ngForm.controls['confirmPassword'].errors.required">
                            Confirm Password is required.
                        </span>
                    </div>
                    <div class="invalid-feedback" *ngIf="ngForm.controls['confirmPassword'].invalid && (ngForm.controls['confirmPassword'].dirty && ngForm.controls['confirmPassword'].touched && ngForm.controls['confirmPassword'].value != ngForm.controls['password'].value)">
                        <span>
                            Password & Confirm Password do not match.
                        </span>
                    </div>
                </div>
            </div>

            
            <div class="form-group row">
                <label class="col-lg-3 col-md-4 col-sm-6 col-form-label"></label>
                <div class="col-lg-9 col-md-8 col-sm-6">
                <button class="btn btn-primary" type="submit" [disabled]="ngForm.invalid"> <i class="fa fa-save"></i> Save </button>
                </div>
            </div>
        </form>
        </div>
    </div>

  </div>